html, body {
    font-family: Lucida, sans-serif;
    font-size: 90%;
    margin: 0px 10px;
    padding: 0px;
}

.internal_link {
    stroke: none;
    stroke-width: 2px;
}

.current_link {
    stroke: black;
    stroke-width: 2px;
}

.node_input {
    fill: green;
}

.node_output {
    fill: red;
}

.node_center {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.hovered_text {
    background: blue;
    background-color: blue;
}
