html, body, table {
    font-family: Lucida, sans-serif;
    font-size: 10pt;
    margin: 0px 0px;
    padding: 0px;
}

.internal_link {
    stroke: none;
    stroke-width: 2px;
}

.external_link {
    stroke: black;
    stroke-width: 4px;
}

#current_link {
    stroke: black;
    stroke-width: 2px;
}

.node_input {
    fill: green;
}

.node_output {
    fill: red;
}

.cell_center {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.hovered_text {
}

/** CSS for the info section */
.info_title {
    background: blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
}

/** CSS for the parameter/io type */
span.info_tendril_doc {
    
}

span.info_tendril_name {
    font-weight: bold;
}

span.info_tendril_type {
    color: gray;
    font-style: italic;
}

/** CSS for the parameter table */
table.parameter {
    border-collapse:collapse;
}

tr.info_table_required {
    background-color:red;
}

/* The following is usefull to not select text when drawing a connection */
::selection {
    background: rgb(255,255,255);
}

::-moz-selection {
    background: rgb(255,255,255);
}

::-webkit-selection {
    background: rgb(255,255,255);
}
